.about {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;

    @media (max-width: 520px) {
      flex-wrap: wrap-reverse;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin: 0;
    color: $c-accent;
    font-family: 'Leckerli One', sans-serif;
    font-size: 2rem;

    @media (max-width: 520px) {
      text-align: center;
    }
  }

  &__body {
    flex-grow: 1;

    &--2 {
      margin-top: 0;

      @media (max-width: 520px) {
        text-align: center;
      }
    }

    @media (max-width: 520px) {
      text-align: center;
    }
  }

  &__img {
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    padding: 0.3rem;
    border: 0.2rem solid $c-accent;
    border-radius: 50%;
    object-fit: cover;
  }

  &__link {
    color: $c-black;
    cursor: pointer;

    &:hover {
      color: $c-accent;
    }
  }
}
