.about {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;

    @media (max-width: 420px) {
      flex-wrap: wrap-reverse;
    }
  }

  &__body {
    flex-grow: 1;
  }

  &__img {
    height: 15rem;
    margin: 0 1rem;
    padding: 0.3rem;
    border: 0.2rem solid $c-accent;
    border-radius: 50%;
  }
}
