.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: $c-primary;
  font-size: 14px;
  opacity: 0.9;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    text-transform: uppercase;
  }

  &__right-item {
    height: 100%;
    margin: 0 0 0 0.5rem;
    color: $c-white;
    text-decoration: none;

    &:hover {
      // border-bottom: 0.15rem solid $c-accent;
      color: $c-accent;
    }
  }
}
