.portfolio {
  background: $c-primary;

  &__img {
    width: 100%;
    height: 20%;
  }

  &__frame {
    display: block;
    position: relative;
    margin: 0 0.5rem;

    &:hover {
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $c-accent;
        content: '';
        opacity: 0.8;
      }

      .portfolio__frame-description {
        display: block;
      }
    }
  }

  &__frame-description {
    display: none;
    position: absolute;
    top: 5rem;
    padding: 0 1rem;
    color: $c-white;
    text-align: center;
    text-shadow: 0.1rem 0.1rem rgba(#000, 0.2);

    &:hover {
      display: block;
    }
  }
}
